{{#tmplit 'Columns' 'Jog Module' maxColumns=5}}
    <div></div>
    <div></div>
    <div></div>
    {{tmplit 'Columns' 'Velocity'}}
    {{tmplit 'Columns' 'Position'}}
    {{tmplit 'Columns' 'Z Axis'}}
    {{tmplit 'Button' 'Jog -' buttonType='momentary' data-var-name='gJogData.jogNeg[0]'}}
    {{tmplit 'Button' 'Jog +' buttonType='momentary' data-var-name='gJogData.jogPos[0]'}}
    {{tmplit 'Numeric' ' mm/s' type='input' data-var-name='RobotFast:Configuration.jog[0].Velocity[0]'}}
    {{tmplit 'Numeric' ' mm' type='input' data-var-name='RobotFast:robot.Info.JointAxisPosition[0]'}}
    {{tmplit 'Columns' 'θ Axis'}}
    {{tmplit 'Button' 'Jog -' buttonType='momentary' data-var-name='gJogData.jogNeg[1]'}}
    {{tmplit 'Button' 'Jog +' buttonType='momentary' data-var-name='gJogData.jogPos[1]'}}
    {{tmplit 'Numeric' ' deg/s' type='input' data-var-name='RobotFast:Configuration.jog[0].Velocity[1]'}}
    {{tmplit 'Numeric' ' deg' type='input' data-var-name='RobotFast:robot.Info.JointAxisPosition[1]'}}
    {{tmplit 'Columns' 'R Axis'}}
    {{tmplit 'Button' 'Jog -' buttonType='momentary' data-var-name='gJogData.jogNeg[2]'}}
    {{tmplit 'Button' 'Jog +' buttonType='momentary' data-var-name='gJogData.jogPos[2]'}}
    {{tmplit 'Numeric' ' mm/s' type='input' data-var-name='RobotFast:Configuration.jog[0].Velocity[2]'}}
    {{tmplit 'Numeric' ' mm' type='input' data-var-name='RobotFast:robot.Info.JointAxisPosition[2]'}}
    {{tmplit 'Columns' 'Jog Mode'}}
    {{#tmplit 'MultiSelect' data-var-name='gJogData.SelectedMode'}}
        <option data-value="0">
            <div>Motors</div>
        </option>
        <option data-value="100">
            <div>Joints</div>
        </option>
    {{/tmplit}}
{{/tmplit}}