<ul class="nav nav-tabs">
    {{T 'PageSelect' "Model" template='robot' dom='services' active=true}}
    {{!-- {{T 'PageSelect' "Positions" template='Positions' dom='services'  }}
    {{T 'PageSelect' "Editor" template='ftpEditor' dom='services'}}
    {{T 'PageSelect' "Settings" template='settings' dom='services'}}
    {{T 'PageSelect' "Charts" template='chartsSmall' dom='services'}}
    {{T 'PageSelect' "Alarms" template='alarms' dom='services'}} --}}
</ul>
<div class="tab-content col-lg-12" id="services">
    {{> robot}}
</div>


